/* 
     .content {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: center;
        background-color: aqua;
        text-align: center;
        width: 100%;
        white-space: nowrap;
        padding: 5px;

     }
     .card-body {
        display: flex;
        width: 240px;
        height: 240px;
        text-align: center;

     }
     .card-title {
        text-align: center;
        justify-content: space-evenly space-around;
     }
     .card-edit {
        background-color: green;
        color: white;
        align-content: center;
     }
     .card-delete {
        background-color:red;
        color: white;
     }
     .btn-success {
        background-color: blue;
        color: white;
     }
     .libDiv {
      display: flex;
    flex-direction: column;
    width: 290px;
    height: 290px;
    padding: 25px;
    justify-content: space-evenly;
     }

     .bookList {
      display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    margin-top: 50px;
     }

 */

.bookImage {
   width: 150px;
   height: 150px;
}

.bookList {
   display: flex;
   flex-direction: row;
   justify-content: center;
   flex-wrap: wrap;
   font-family: "Times New Roman", Times, serif;
}

.ugh {
   min-width: 200px;
   min-height: 200px;
}
.yourLib {
   text-align: center;
}


   .searchButton{
       display: flex;
       justify-content: center;
       padding-top: 10px;
       padding-bottom: 10px;
       margin-bottom: 50px;
    }

.background-image{
   background: linear-gradient(rgba(0,0,0,0.5)),url(../../Images/capstone-background.png) no-repeat;
   display: table;
   position: relative;
   width: 100vw;
   min-height: 700px;

   background-size: cover;
   background-attachment: fixed;
}

.bookTitle{
   font-family: "Times New Roman", Times, serif;
   font-size: 25px;
   text-align: center;
   
}

.bookAuthor{
   font-family: 'Times New Roman', Times, serif;
   font-size: 15px;
   text-align: center;
}

.summary{
   font-family: "Times New Roman", Times, serif;
   font-size: 20px;
}